/* General styles for the dashboard */
* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: #ddd;
  padding-left: 10px;
  padding-bottom: 50px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(50, 50, 50);
  color: #888888;
  text-align: center;
  font-size: 0.8em;
  z-index: 1000;
}

footer a {
  color: #b5b5b5;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: #fff;
}

/* General styles for the index page */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.header h1 {
  margin: 0;
}

.header-button {
  background: inherit;
  border: none;
  border-radius: 10px;
  color: inherit;
  cursor: pointer;
  font: inherit;
  text-align: left;
  padding: 10px 10px;
  transition: background-color 0.2s;
}

.header-button:hover {
  color: #b2b2b2;
  background-color: #444;
}

.overview {
  margin: 0px 18px;
}

.overview ul {
  display: flex;
  justify-content: start;
  list-style: none;
  padding: 0;
}

.overview li {
  padding: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;
  background: #444;
  text-align: center;
  border-radius: 5px;
  transition: 0.3s;
}

.overview li a {
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.overview li a:hover {
  text-decoration: underline;
}

.overview li:hover, .overview .active {
  background: #555;
}

.button-container {
  display: flex;
  justify-content: start;
  gap: 12px;
  margin-bottom: 20px;
}

.button-container button {
  padding: 15px;
  cursor: pointer;
  background: #444;
  color: #ddd;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 1em;
}

.button-container button:hover {
  background: #555;
}

/* Styles for the At a Glance section */
.status-head {
  display: flex;
  justify-content: start;
  margin: 0px 18px;
}

.status {
  display: flex;
  justify-content: start;
  margin: 0 18px;
}

.status h2 {
  margin: 10px;
}

.status-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}

.status-item {
  background-color: #444;
  padding: 15px;
  border-radius: 10px;
  flex: 1 1 200px;
  min-width: 300px;
  text-align: center;
  transition: background-color 0.3s;
  display: flex;
  flex-direction: column;
}

.status-item h3 {
  margin: 0 0 10px 0;
  color: #fff;
}

.status-item p {
  margin: 0;
  color: #ddd;
}

.status-item:hover {
  background-color: #555;
}

/* General styles for the config page */
.config {
  display: flex;
  justify-content: start;
  margin: 15px;
}

.config-container {
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.config-container h2 {
  margin-top: 0;
  color: #fff;
}

.config-container form {
  display: flex;
  flex-direction: column;
}

.config-container label {
  margin-bottom: 10px;
  color: #ddd;
}

.config-container input[type="checkbox"] {
  background-color: #fff;
  transform: scale(1.2);
  cursor: pointer;
}

.config-container input[type="submit"] {
  margin-top: 20px;
  padding: 10px;
  background-color: #555;
  color: #ddd;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.config-container input[type="submit"]:hover {
  background-color: #75a9c8;
}

.config-container input[type="submit"]:active {
  background-color: #478cb6;
}

.tab {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.tab button {
  background-color: #444 !important;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 1em;
  color: #ddd;
  border-radius: 5px;
}

.tab button:hover {
  background-color: #6f6f6f !important;
}

.tab button.active {
  background-color: #858585 !important;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.tabcontent.active {
  display: block;
}

.banner {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgb(185, 105, 105);
  color: #ffffff;
  text-align: center;
  font-size: 0.8em;
  padding: 8px 0;
  z-index: 1;
}

.banner button {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 0px;
}

.banner button:hover {
  color: #000000;
}


/* Styles for the Phase 1 section */
.phase1-section {
  margin-left: 20px;
}

.phase1-section h2{
  text-decoration: underline;
}