* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: #ddd;
  padding-left: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.header h1 {
  margin: 0;
}

.header-button {
  background: inherit;
  border: none;
  border-radius: 10px;
  color: inherit;
  cursor: pointer;
  font: inherit;
  text-align: left;
  padding: 10px 0px;
  transition: background-color 0.2s;
}

.header-button:hover {
  color: #b2b2b2;
  background-color: #444;
}

.overview {
  margin: 0px 10px;
}

.overview ul {
  display: flex;
  justify-content: start;
  list-style: none;
  padding: 0;
}

.overview li {
  padding: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;
  background: #444;
  text-align: center;
  border-radius: 5px;
  transition: 0.3s;
}

.overview li a {
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.overview li a:hover {
  text-decoration: underline;
}

.overview li:hover, .overview .active {
  background: #555;
}

.button-container {
  display: flex;
  justify-content: start;
  gap: 12px;
  margin-bottom: 20px;
}

.button-container button {
  padding: 15px;
  cursor: pointer;
  background: #444;
  color: #ddd;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 1em;
}

.button-container button:hover {
  background: #555;
}

.status {
  display: flex;
  justify-content: start;
  margin: 15px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(50, 50, 50);
  color: #888888;
  text-align: center;
  font-size: 0.8em;
}

footer a {
  color: #b5b5b5;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: #fff;
}