* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(100, 100, 100);
  color: white;
}

.overview ul{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(100, 100, 100);
    color: white;
    text-align: center;
  }