<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <button onclick="location.href='/'" class="header-button">
            <h1>Dashboard</h1>
        </button>
    </div>
    <div class="overview">
        <h1>Error Code 404</h1>
        <p>The page doesn't exist</p>
    </div>
</body>
<footer>
    {% if config.credit_dev %}
    <p>By <a href="https://github.com/ayashrath" target="_blank">Ayash Rath</a>, Software Member of the <a href="https://www.qmsu.org/groups/25974/" target="_blank">QMSEDS Society</a> (Queen Mary Univeristy of London)</p>
    {% else %}
    <p>By the Software Members of the <a href="https://www.qmsu.org/groups/25974/" target="_blank">QMSEDS Society</a> (Queen Mary Univeristy of London)</p>
    {% endif %}
</footer>
</html>