<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>QMStarlight</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="{{ url_for('static', filename='config.js') }}"></script>

</head>
<body>
    {% if message and config.enable_save_banner %}
    <div id="success-banner" class="banner">
        <span>{{ message[0] }}</span>
        <button onclick="closeBanner()">✖</button>
    </div>
    {% endif %}
    <div class="header">
        <button onclick="location.href='/'" class="header-button">
            <h1>Dashboard - Config</h1>
        </button>
    </div>
    <div class="config">
        <div class="config-container">
            <div class="tab">
                <button class="tablinks active" onclick="openTab(event, 'AtAGlance')">At a Glance</button>
                <button class="tablinks" onclick="openTab(event, 'HealthCheckThreshold')">Health Check Thresholds</button>
                <button class="tablinks" onclick="openTab(event, 'GlobalAppearance')">Global Appearances</button>
                <button class="tablinks" onclick="openTab(event, 'GlobalPractical')">Advanced Options</button>
            </div>

            <div id="AtAGlance" class="tabcontent active">
                <form id="at_a_glance_form" action="/config" method="POST">
                    <input type="hidden" name="form_id" value="at_a_glance_form">
                    <label for="refresh_time">1. How often should the data refresh? (in seconds) :
                        <input id="refresh_time" name="refresh_time" type="number" required min="0" value="{{ config.refresh_time }}"/>
                    </label>
                    <br>
                    <label for="comm_status">2. Display Comm Status? :
                        <input id="comm_status" name="on_glance_comm_status" type="checkbox" {% if config.on_glance_comm_status %} checked {% endif %} />
                    </label>
                    <br>
                    <label for="cpu_usage">3. Display CPU Usage? :
                        <input id="cpu_usage" name="on_glance_cpu_usage" type="checkbox" {% if config.on_glance_cpu_usage %} checked {% endif %} />
                    </label>
                    <br>
                    <label for="ram_usage">4. Display RAM Usage? :
                        <input id="ram_usage" name="on_glance_ram_usage" type="checkbox" {% if config.on_glance_ram_usage %} checked {% endif %} />
                    </label>
                    <br>
                    <label for="storage_usage">5. Display Storage Usage? :
                        <input id="storage_usage" name="on_glance_storage_usage" type="checkbox" {% if config.on_glance_storage_usage %} checked {% endif %} />
                    </label>
                    <br>
                    <label for="error_count">6. Display Error Count? :
                        <input id="error_count" name="on_glance_error_count" type="checkbox" {% if config.on_glance_error_count %} checked {% endif %} />
                    </label>
                    <br>
                    <label for="battery_stats">7. Display Battery Stats? :
                        <input id="battery_stats" name="on_glance_battery_stats" type="checkbox" {% if config.on_glance_battery_stats %} checked {% endif %} />
                    </label>
                    <br>
                    <label for="internal_temp">8. Display Internal Temperature? :
                        <input id="internal_temp" name="on_glance_internal_temp" type="checkbox" {% if config.on_glance_internal_temp %} checked {% endif %} />
                    </label>
                    <br>
                    <label for="uptime">9. Display Uptime? :
                        <input id="uptime" name="on_glance_uptime" type="checkbox" {% if config.on_glance_uptime %} checked {% endif %} />
                    </label>
                    <br>
                    <label for="cpu_temp">10. Display CPU Temperature? :
                        <input id="cpu_temp" name="on_glance_cpu_temp" type="checkbox" {% if config.on_glance_cpu_temp %} checked {% endif %} />
                    </label>
                    <br>
                    <label for="aocs">11. Display AOCS? :
                        <input id="aocs" name="on_glance_aocs" type="checkbox" {% if config.on_glance_aocs %} checked {% endif %} />
                    </label>
                    <br>
                    <label for="camera_status">12. Display Camera Status? :
                        <input id="camera_status" name="on_glance_camera_status" type="checkbox" {% if config.on_glance_camera_status %} checked {% endif %} />
                    </label>
                    <br>
                    <input type="submit" value="Submit">
                </form>
            </div>

            <div id="HealthCheckThreshold" class="tabcontent active">
                <form id="phase1_threshold" action="/config" method="POST">
                    <input type="hidden" name="form_id" value="phase1_threshold">
                    <label for="battery_voltage">1. Battery Voltage Limits (in Volts) :
                        <input id="battery_voltage_lower" name="battery_voltage_lower" type="number" required value="{{ config.battery_voltage[0] }}"/>
                        <input id="battery_voltage_upper" name="battery_voltage_upper" type="number" required value="{{ config.battery_voltage[1] }}"/>
                    </label>
                    <br>
                    <label for="battery_amps">2. Battery Current Limits (in Amps) :
                        <input id="battery_amps_lower" name="battery_amps_lower" type="number" required value="{{ config.battery_amps[0] }}"/>
                        <input id="battery_amps_upper" name="battery_amps_upper" type="number" required value="{{ config.battery_amps[1] }}"/>
                    </label>
                    <br>
                    <label for="battery_temp">3. Battery Temperature Limits (in Celcius) :
                        <input id="battery_temp_lower" name="battery_temp_lower" type="number" required value="{{ config.battery_temp[0] }}"/>
                        <input id="battery_temp_upper" name="battery_temp_upper" type="number" required value="{{ config.battery_temp[1] }}"/>
                    </label>
                    <br>
                    <label for="internal_temp">4. Internal Temperature Limits (in Celcius) :
                        <input id="internal_temp_lower" name="internal_temp_lower" type="number" required value="{{ config.internal_temp[0] }}"/>
                        <input id="internal_temp_upper" name="internal_temp_upper" type="number" required value="{{ config.internal_temp[1] }}"/>
                    </label>
                    <br>
                    <label for="downlink_freq">5. Downlink Frequency Limits (in MHz) :
                        <input id="downlink_freq_lower" name="downlink_freq_lower" type="number" required value="{{ config.downlink_freq[0] }}"/>
                        <input id="downlink_freq_upper" name="downlink_freq_upper" type="number" required value="{{ config.downlink_freq[1] }}"/>
                    </label>
                    <br>
                    <label for="uplink_freq">6. Uplink Frequency Limits (in MHz) :
                        <input id="uplink_freq_lower" name="uplink_freq_lower" type="number" required value="{{ config.uplink_freq[0] }}"/>
                        <input id="uplink_freq_upper" name="uplink_freq_upper" type="number" required value="{{ config.uplink_freq[1] }}"/>
                    </label>
                    <br>
                    <label for="signal_strength">7. Signal Strength Limits (in dBm) :
                        <input id="signal_strength_lower" name="signal_strength_lower" type="number" required value="{{ config.signal_strength[0] }}"/>
                        <input id="signal_strength_upper" name="signal_strength_upper" type="number" required value="{{ config.signal_strength[1] }}"/>
                    </label>
                    <br>
                    <label for="transmission_rate">8. Data Transmission Rate Limits (in dBm) :
                        <input id="transmission_rate_lower" name="transmission_rate_lower" type="number" required value="{{ config.transmission_rate[0] }}"/>
                        <input id="transmission_rate_upper" name="transmission_rate_upper" type="number" required value="{{ config.transmission_rate[1] }}"/>
                    </label>
                    <br>
                    <label for="gyro">9. Gyro Velocity Limits for X,Y and Z (in Degrees per Second):
                        <input id="gyro_lower" name="gyro_lower" type="number" required value="{{ config.gyro[0] }}"/>
                        <input id="gyro_upper" name="gyro_upper" type="number" required value="{{ config.gyro[1] }}"/>
                    </label>
                    <br>
                    <label for="orientation">10. Position Limits for X,Y and Z (in Degrees) :
                        <input id="orientation_lower" name="orientation_lower" type="number" required value="{{ config.orientation[0] }}"/>
                        <input id="orientation_upper" name="orientation_upper" type="number" required value="{{ config.orientation[1] }}"/>
                    </label>
                    <br>
                    <label for="reaction_rpm">11. RPM Limits (in rpm) :
                        <input id="reaction_rpm_lower" name="reaction_rpm_lower" type="number" required value="{{ config.reaction_rpm[0] }}"/>
                        <input id="reaction_rpm_upper" name="reaction_rpm_upper" type="number" required value="{{ config.reaction_rpm[1] }}"/>
                    </label>
                    <br>
                    <label for="memory_usage">12. Memory Ok Limits (in Percentage) :
                        <input id="memory_usage_lower" name="memory_usage_lower" type="number" required value="{{ config.memory_usage[0] }}"/>
                        <input id="memory_usage_upper" name="memory_usage_upper" type="number" required value="{{ config.memory_usage[1] }}"/>
                    </label>
                    <br>
                    <label for="error_count">13. Error Count Limits (in Number of Errors) :
                        <input id="error_count_lower" name="error_count_lower" type="number" required value="{{ config.error_count[0] }}"/>
                        <input id="error_count_upper" name="error_count_upper" type="number" required value="{{ config.error_count[1] }}"/>
                    </label>
                    <br>
                    <input type="submit" value="Submit">
                </form>
            </div>

            <div id="GlobalAppearance" class="tabcontent">
                <form id="global_appearance_form" action="/config" method="POST">
                    <input type="hidden" name="form_id" value="global_appearance_form">
                    <label for="credit_dev">1. Credit Developer? :
                        <input id="credit_dev" name="enable_credit_dev" type="checkbox" {% if config.credit_dev %} checked {% endif %} />
                    </label>
                    <br>
                    <label for="light_mode">2. Enable Light Mode? :
                        <input id="light_mode" name="enable_light_mode" type="checkbox" {% if config.enable_light_mode %} checked {% endif %} />
                    </label>
                    <br>
                    <label for="save_banner">3. Enable Save Banners? :
                        <input id="save_banner" name="enable_save_banner" type="checkbox" {% if config.enable_save_banner %} checked {% endif %} />
                    </label>
                    <br>
                    <input type="submit" value="Submit">
                </form>
            </div>

            <div id="GlobalPractical" class="tabcontent">
                <form id="global_practical_form" action="/config" method="POST">
                    <input type="hidden" name="form_id" value="global_practical_form">
                    <label for="SCP_ip4">1. SCB IPv4 Address :
                        <input id="SCP_ip4" name="sbc_ip_v4" type="text" required minlength="7" maxlength="15" size="16" value="{{ config.sbc_ip_v4 }}"/>
                    </label>
                    <br>
                    <label for="sbc_port">2. SBC Port Number :
                        <input id="sbc_port" name="sbc_port" type="number" required min="0" max="65535" value="{{ config.sbc_port }}"/>
                    </label>
                    <br>
                    <label for="sbc_encryption_key">2. SBC Message Encryption Key :
                        <input id="sbc_encryption_key" name="sbc_encryption_key" type="text" size="16" value="{{ config.sbc_message_encryption_key }}"/>
                    </label>
                    <br>
                    <label for="cam_live">3. Enable Cam Livestream (/cam) {Still Under Dev/Experimental}:
                        <input id="cam_live" name="cam_live" type="checkbox" {% if config.enable_cam_live %} checked {% endif %} />
                    </label>
                    <br>
                    <label for="manual_control">4. Enable Manual AOCS Control (/manual) {Still Under Dev/Experimental} :
                        <input id="manual_control" name="manual_control" type="checkbox" {% if config.enable_manual_control %} checked {% endif %} />
                    </label>
                    <br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
    <script>
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].classList.remove("active");
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].classList.remove("active");
            }
            document.getElementById(tabName).classList.add("active");
            evt.currentTarget.classList.add("active");
        }
    </script>
</body>
<footer>
    {% if config.credit_dev %}
    <p>By <a href="https://github.com/ayashrath" target="_blank">Ayash Rath</a>, Software Member of the <a href="https://www.qmsu.org/groups/25974/" target="_blank">QMSEDS Society</a> (Queen Mary Univeristy of London)</p>
    {% else %}
    <p>By the Software Members of the <a href="https://www.qmsu.org/groups/25974/" target="_blank">QMSEDS Society</a> (Queen Mary Univeristy of London)</p>
    {% endif %}
</footer>
</html>