<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>QMStarlight</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="{{ url_for('static', filename='config.js') }}"></script>

</head>
<body>
    {% if message and config.enable_save_banner %}
    <div id="success-banner" class="banner">
        <span>{{ message[0] }}</span>
        <button onclick="closeBanner()">✖</button>
    </div>
    {% endif %}
    <div class="header">
        <button onclick="location.href='/'" class="header-button">
            <h1>Dashboard - Config</h1>
        </button>
    </div>
    <div class="config">
        <div class="config-container">
            <div class="tab">
                <button class="tablinks active" onclick="openTab(event, 'AtAGlance')">At a Glance</button>
                <button class="tablinks" onclick="openTab(event, 'GlobalAppearance')">Global Appearances</button>
                <button class="tablinks" onclick="openTab(event, 'GlobalPractical')">Advanced Options</button>
            </div>

            <div id="AtAGlance" class="tabcontent active">
                <form id="at_a_glance_form" action="/config" method="POST">
                    <input type="hidden" name="form_id" value="at_a_glance_form">
                    <label for="comm_status">1. Display Comm Status? :
                        <input id="comm_status" name="on_glance_comm_status" type="checkbox" {% if config.on_glance_comm_status %} checked {% endif %} />
                    </label>
                    <br>
                    <label for="cpu_usage">2. Display CPU Usage? :
                        <input id="cpu_usage" name="on_glance_cpu_usage" type="checkbox" {% if config.on_glance_cpu_usage %} checked {% endif %} />
                    </label>
                    <br>
                    <label for="ram_usage">3. Display RAM Usage? :
                        <input id="ram_usage" name="on_glance_ram_usage" type="checkbox" {% if config.on_glance_ram_usage %} checked {% endif %} />
                    </label>
                    <br>
                    <label for="storage_usage">4. Display Storage Usage? :
                        <input id="storage_usage" name="on_glance_storage_usage" type="checkbox" {% if config.on_glance_storage_usage %} checked {% endif %} />
                    </label>
                    <br>
                    <label for="error_count">5. Display Error Count? :
                        <input id="error_count" name="on_glance_error_count" type="checkbox" {% if config.on_glance_error_count %} checked {% endif %} />
                    </label>
                    <br>
                    <label for="battery_stats">6. Display Battery Stats? :
                        <input id="battery_stats" name="on_glance_battery_stats" type="checkbox" {% if config.on_glance_battery_stats %} checked {% endif %} />
                    </label>
                    <br>
                    <label for="internal_temp">7. Display Internal Temperature? :
                        <input id="internal_temp" name="on_glance_internal_temp" type="checkbox" {% if config.on_glance_internal_temp %} checked {% endif %} />
                    </label>
                    <br>
                    <label for="uptime">8. Display Uptime? :
                        <input id="uptime" name="on_glance_uptime" type="checkbox" {% if config.on_glance_uptime %} checked {% endif %} />
                    </label>
                    <br>
                    <label for="cpu_temp">9. Display CPU Temperature? :
                        <input id="cpu_temp" name="on_glance_cpu_temp" type="checkbox" {% if config.on_glance_cpu_temp %} checked {% endif %} />
                    </label>
                    <br>
                    <label for="aocs">10. Display AOCS? :
                        <input id="aocs" name="on_glance_aocs" type="checkbox" {% if config.on_glance_aocs %} checked {% endif %} />
                    </label>
                    <br>
                    <label for="camera_status">11. Display Camera Status? :
                        <input id="camera_status" name="on_glance_camera_status" type="checkbox" {% if config.on_glance_camera_status %} checked {% endif %} />
                    </label>
                    <br>
                    <input type="submit" value="Submit">
                </form>
            </div>

            <div id="GlobalAppearance" class="tabcontent">
                <form id="global_appearance_form" action="/config" method="POST">
                    <input type="hidden" name="form_id" value="global_appearance_form">
                    <label for="credit_dev">1. Credit Developer? :
                        <input id="credit_dev" name="enable_credit_dev" type="checkbox" {% if config.credit_dev %} checked {% endif %} />
                    </label>
                    <br>
                    <label for="light_mode">2. Enable Light Mode? :
                        <input id="light_mode" name="enable_light_mode" type="checkbox" {% if config.enable_light_mode %} checked {% endif %} />
                    </label>
                    <br>
                    <label for="save_banner">3. Enable Save Banners? :
                        <input id="save_banner" name="enable_save_banner" type="checkbox" {% if config.enable_save_banner %} checked {% endif %} />
                    </label>
                    <br>
                    <input type="submit" value="Submit">
                </form>
            </div>

            <div id="GlobalPractical" class="tabcontent">
                <form id="global_practical_form" action="/config" method="POST">
                    <input type="hidden" name="form_id" value="global_practical_form">
                    <label for="SCP_ip4">1. SCB IPv4 Address :
                        <input id="SCP_ip4" name="sbc_ip_v4" type="text" required minlength="7" maxlength="15" size="16" value="{{ config.sbc_ip_v4 }}"/>
                    </label>
                    <br>
                    <label for="sbc_port">2. SBC Port Number :
                        <input id="sbc_port" name="sbc_port" type="number" required min="0" max="65535" value="{{ config.sbc_port }}"/>
                    </label>
                    <br>
                    <label for="sbc_encryption_key">2. SBC Message Encryption Key :
                        <input id="sbc_encryption_key" name="sbc_encryption_key" type="text" size="16" value="{{ config.sbc_message_encryption_key }}"/>
                    </label>
                    <br>
                    <label for="cam_live">3. Enable Cam Livestream (/cam) {Still Under Dev/Experimental}:
                        <input id="cam_live" name="cam_live" type="checkbox" {% if config.enable_cam_live %} checked {% endif %} />
                    </label>
                    <br>
                    <label for="manual_control">4. Enable Manual AOCS Control (/manual) {Still Under Dev/Experimental} :
                        <input id="manual_control" name="manual_control" type="checkbox" {% if config.enable_manual_control %} checked {% endif %} />
                    </label>
                    <br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
    <script>
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].classList.remove("active");
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].classList.remove("active");
            }
            document.getElementById(tabName).classList.add("active");
            evt.currentTarget.classList.add("active");
        }
    </script>
</body>
<footer>
    {% if config.credit_dev %}
    <p>By <a href="https://github.com/ayashrath" target="_blank">Ayash Rath</a>, Software Member of the <a href="https://www.qmsu.org/groups/25974/" target="_blank">QMSEDS Society</a> (Queen Mary Univeristy of London)</p>
    {% else %}
    <p>By the Software Members of the <a href="https://www.qmsu.org/groups/25974/" target="_blank">QMSEDS Society</a> (Queen Mary Univeristy of London)</p>
    {% endif %}
</footer>
</html>