<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="{{ config.refresh_time }}"> <!-- Refresh the page at the interval specified in config (not the most efficient way to do, but whatever)-->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>CubeSat Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body>
    <div class="header">
        <button onclick="location.href='/'" class="header-button">
            <h1>Dashboard - Main Page</h1>
        </button>
    </div>
    <div class="overview">
        <h2>Options</h2>
        <div class="button-container">
            <button onclick="location.href='/phase1'">Start Phase 1 - Health Check</button>
            <button onclick="location.href='/phase2'">Start Phase 2 - AOCS Calibration</button>
            <button onclick="location.href='/phase3'">Start Phase 3 - Main Test</button>
        </div>
        <div class="button-container">
            <button onclick="location.href='/log'">Warning/Error Logs</button>
            <button onclick="location.href='/config'">Config</button>
        </div>
    </div>
    <div class="status-head">
        <h2>At a Glance</h2>
    </div>
    <div class="status">
        <div class="status-container">
            <div class="row important">
                {% if config.on_glance_uptime %}
                <div class="status-item">
                    <h3>Uptime</h3>
                    <p>{{ values.on_glance_uptime }} (hr:min:sec)</p>
                </div>
                {% endif %}

                {% if config.on_glance_comm_status %}
                <div class="status-item">
                    <h3>Communication System Status</h3>
                    <p>
                        {% if values.on_glance_comm_status %}
                        Operational
                        {% else %}
                        Not Operational
                        {% endif %}
                    </p>
                </div>
                {% endif %}

                {% if config.on_glance_camera_status %}
                <div class="status-item">
                    <h3>Camera Status</h3>
                    <p>
                        {% if values.on_glance_camera_status %}
                        Operational
                        {% else %}
                        Not Operational
                        {% endif %}
                    </p>
                </div>
                {% endif %}

                {% if config.on_glance_error_count %}
                <div class="status-item">
                    <h3>Error Count</h3>
                    <p>Errors: {{values.on_glance_error_count.error}}</p>
                    <p>Warnings: {{values.on_glance_error_count.warning}}</p>
                </div>
                {% endif %}
            </div>
            <div class="row sat-metrics">
                {% if config.on_glance_aocs %}
                <div class="status-item">
                    <h3>AOCS Stats</h3>
                    <p>Position Angle: ({{ values.on_glance_aocs.x }}, {{ values.on_glance_aocs.y }}, {{ values.on_glance_aocs.z }}) </p>
                    <p>RPM: {{ values.on_glance_aocs.rpm }} rpm</p>
                    <p>Mock Sun: 
                        {% if values.on_glance_aocs %}
                        Operational
                        {% else %}
                        Not Operational
                        {% endif %}
                </div>
                {% endif %}

                {% if config.on_glance_battery_stats %}
                <div class="status-item">
                    <h3>Battery Stats</h3>
                    <p>Charge: {{ values.on_glance_battery_stats.percentage }}%</p>
                    <p>Voltage: {{ values.on_glance_battery_stats.voltage }}V</p>
                    <p>Current: {{ values.on_glance_battery_stats.current }}A</p>
                </div>
                {% endif %}

                {% if config.on_glance_internal_temp %}
                <div class="status-item">
                    <h3>Internal Temperature</h3>
                    <p>{{ values.on_glance_internal_temp }}°C</p>
                </div>
                {% endif %}
            </div>
            <div class="row sbc-metrics">
                {% if config.on_glance_cpu_usage %}
                <div class="status-item">
                    <h3>CPU Usage</h3>
                    <p>{{ values.on_glance_cpu_usage }}%</p>
                </div>
                {% endif %}

                {% if config.on_glance_ram_usage %}
                <div class="status-item">
                    <h3>RAM Usage</h3>
                    <p>{{ values.on_glance_ram_usage }}%</p>
                </div>
                {% endif %}

                {% if config.on_glance_storage_usage %}
                <div class="status-item">
                    <h3>Storage Usage</h3>
                    <p>{{ values.on_glance_storage_usage }}%</p>
                </div>
                {% endif %}

                {% if config.on_glance_cpu_temp %}
                <div class="status-item">
                    <h3>CPU Temperature</h3>
                    <p>{{ values.on_glance_cpu_temp }}°C</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
<footer>
    {% if config.credit_dev %}
    <p>By <a href="https://github.com/ayashrath" target="_blank">Ayash Rath</a>, Software Member of the <a href="https://www.qmsu.org/groups/25974/" target="_blank">QMSEDS Society</a> (Queen Mary Univeristy of London)</p>
    {% else %}
    <p>By the Software Members of the <a href="https://www.qmsu.org/groups/25974/" target="_blank">QMSEDS Society</a> (Queen Mary Univeristy of London)</p>
    {% endif %}
</footer>
</html>