<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>QMStarlight</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script defer src="{{ url_for('static', filename='index_script.js') }}"></script>
    </head>
    <body>
        <div class="overview">
            <h1>QM Starlight - 2024</h2>
            <h2>Options</h2>
            <ul>
                <li><a href="/phase1">Phase 1 - Health Check</a></li>
                <li><a href="/phase2">Phase 2 - AOCS Caliberation</a></li>
                <li><a href="/phase3">Phase 3 - Main Test</a></li>
                <li><a href="/log">Warning/Error Logs</a></li>
                <li><a href="/config">Config</a></li>
            </ul>
        </div>

        <div class="basic-status">
            <h2>At a Quick Glance</h1>
            <div class="status-container">
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col">
                    </div>
                </div>
                <div class="row">

                </div>
                <div class="row">

                </div>
                <div class="row">

                </div>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <p>Author: <a href="https://github.com/ayashrath">Ayash Rath</a></p>
    </footer>
</html>