<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>QM Starlight</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="{{ url_for('static', filename='phase1.js') }}"></script>
</head>
<body>
    <div class="header">
        <button onclick="location.href='/'" class="header-button">
            <h1>Dashboard - Phase 1</h1>
        </button>
    </div>
    <div class="phase1-section">
        <h3>Date: {{ values.data_current }}</h3>
        <h3>Time: {{ values.time_current }} GMT</h3>
    </div>
    <div class="phase1-section">
        <h2>Power Subsytem</h2>
        <ul>
            <li><strong>Battery Voltage:</strong> {{ values.battery_voltage }} V (NOMINAL)</li>
            <li><strong>Battery Current:</strong> {{ values.battery_amps }} A (NOMINAL)</li>
            <li><strong>Battery Temperature:</strong> {{ values.battery_temp }} °C (NOMINAL)</li>
            <li><strong>Status:</strong> {{ values.battery_status }}</li>
        </ul>
    </div>
    <div class="phase1-section">
        <h2>Thermal Subsystem</h2>
        <ul>
            <li><strong>Internal Temperature:</strong> {{ values.internal_temp }} °C</li>
            <li><strong>Status:</strong> {{ values.temperature_status }}</li>

        </ul>
    </div>
    <div class="phase1-section">
        <h2>Communication Subsytem</h2>
        <ul>
            <li><strong>Downlink Frequency:</strong> {{ values.downlink_freq }} MHz (NOMINAL)</li>
            <li><strong>Uplink Frequency:</strong> {{ values.uplink_freq }} MHz (NOMINAL)</li>
            <li><strong>Signal Strength:</strong> {{ values.signal_strength }} dBm (NOMINAL)</li>
            <li><strong>Data Trasmission Rate:</strong> {{ values.transmission_rate }} dBm (NOMINAL)</li>
            <li><strong>Status:</strong> {{ values.comm_status }}</li>
        </ul>
    </div>
    <div class="phase1-section">
        <h2>ADCS Subsytem</h2>
        <ul>
            <li><strong>Gyroscope:</strong> X: {{ values.gyro[0] }} °/s, Y: {{ values.gyro[1] }} °/s, Z: {{ values.gyro[2] }} °/s</li>
            <li><strong>Orientation:</strong> X: {{ values.orientation[0] }} °, Y: {{ values.orientation[1] }} °, Z: {{ values.orientation[2] }} °</li>
            <li><strong>Mock Sun Sensor:</strong> {{ values.mock_sun_status }}</li>
            <li><strong>Reaction Wheel RPM:</strong> {{ values.reaction_rpm }}</li>
            <li><strong>Status:</strong> {{ values.aocs_status }}</li>
        </ul>
    </div>
    <div class="phase1-section">
        <h2>Payload Subsystem</h2>
        <ul>
            <li><strong>Camera:</strong> {{ values.camera_status }}</li>
            <li><strong>Status:</strong> {{ values.payload_status }}</li>

        </ul>
    </div>
    <div class="phase1-section">
        <h2>Command and Data Handling Subsystem</h2>
        <ul>
            <li><strong>Memory Usage:</strong> {{ values.memory_usage }}%</li>
            <li><strong>Last Command Received:</strong> {{ values.last_comm_date }} GMT</li>
            <li><strong>Uptime:</strong> {{ values.uptime }} mins</li>
            <li><strong>Status:</strong> {{ values.system_status }}</li>

        </ul>
    </div>
    <div class="phase1-section">
        <h2>Error Log</h2>
        <ul>
            <li><strong>{{ values.error_log }}</strong></li>
        </ul>
    </div>
    <div class="phase1-section">
        <h2>Overall Status</h2>
        <ul>
            <li><strong>{{ values.overall_status }}</strong></li>
            <li><strong>Recommended Actions:</strong> {{ values.recommended_action }}</li>
        </ul>
    </div>
    <div class="save-btn-container">
        <button id="save-report-button">Save Report</button>
    </div>
</body>
<footer>
    {% if config.credit_dev %}
    <p>By <a href="https://github.com/ayashrath" target="_blank">Ayash Rath</a>, Software Member of the <a href="https://www.qmsu.org/groups/25974/" target="_blank">QMSEDS Society</a> (Queen Mary Univeristy of London)</p>
    {% else %}
    <p>By the Software Members of the <a href="https://www.qmsu.org/groups/25974/" target="_blank">QMSEDS Society</a> (Queen Mary Univeristy of London)</p>
    {% endif %}
</footer>
</html>